# 1. Ignore all
.config/*

# 2. Alllow required folders
!.config/ghostty/
!.config/nvim/
!.config/lazygit/

# 3. Exclude specific files in required folders
.config/lazygit/state.yml
.config/nvim/lazy-lock.json
.config/nvim/lazyvim.json

# Temp files
*.vimsession
packer_compiled.lua
*.old
*.lazy
.luarc.json
nvim-pack-lock.json
